* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2ddb0;
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/png/logowingsandeagle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

header {
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    flex: 1; /* Ocupa o espaço disponível, mantendo o footer no final */
}

a {
    color: chocolate;
    text-decoration: none;
}

p, h1 {
    color: #3c1400;
}

footer {
    background-color: #3c1400;
    color: #f2ddb0;
    text-align: center;
    padding: 40px;
    width: 100%;
    position: relative; /* Permite que o footer fique dentro do fluxo do documento */
}

footer .email-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    word-wrap: break-word; /* Para quebrar a palavra, se necessário */
}

footer .email-field img {
    margin-right: 10px;
    max-width: 100%;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #f2ddb0;
    margin: 0 10px;
    text-decoration: none;
}

footer a.social-icon {
    font-size: 24px;
}

footer a.social-icon:hover {
    color: #ffcc00; /* Cor de hover opcional */
}

/* Media Queries */
@media (max-width: 768px) {
    footer {
        padding: 20px;
    }

    footer p {
        margin: 10px 0;
    }

    footer a {
        margin: 0 5px;
    }

    footer .email-field {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 10px;
    }

    footer p {
        margin: 5px 0;
    }

    footer a {
        margin: 0 5px;
    }

    footer .email-field {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    footer .email-field img {
        margin: 0 0 10px 0; /* Ajuste de margem para telas pequenas */
    }
}
